body{
	font-family: 'Quicksand', sans-serif;
	font-size: xx-large;

}
.mySignature {
	width:60%;
	margin-left: 25%;
	margin-top: 10%;
	
}

cont1{
    position: relative;
}
.clipart{
    position: absolute;
    width: 50%;
    left:16%;
    top:17%;
    
}
.myPicture{
	position: absolute;
	border-radius: 50%;
    top:230px;
    left:25%;
	width: 29.5%;

}
.corner2{
	margin-left: 60%;
	margin-top:35%;
}
.corner1 {
	margin-top: -15%;
}
.cont2 a{
   width: 10%;
   background-color: transparent;
}


/* Small only */
@media screen and (min-width: 20em) and (max-width: 39.9375em) {
body{
	padding-right: 15%;
}
.cont1{
    position: relative;
    width: 100%;
}
.myPicture{
	position: absolute;
	border-radius: 50%;
    top:52px;
}
.corner1{
	margin-top: 20px;

}
.corner2{
	margin-top:-5px;
	
}
.mySignature{
	margin-left: 120px;
}
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
body{
	padding-right: 15%;

}
	
.cont1{
    position: relative;
    width: 100%;
}
.myPicture{
	position: absolute;
	border-radius: 50%;
    top:65px;

}	
.corner1{
	margin-top: 20px;

}
.corner2{
	margin-top:-5px;
	
}

}
/* large only */

@media screen and (min-width: 64em) {
body{
	padding-right: 15%;
}

.cont1{
    position: relative;
    width: 100%;
}
.myPicture{
	position: absolute;
	border-radius: 50%;
    top:88px;

}	
.corner1{
	margin-top: 20px;

}
.corner2{
	margin-top:-5px;
	
}

	
}
