body{
	font-family: 'Quicksand', sans-serif;
	font-size: xx-large;
	padding:5%;

}
.myPicture{
	border-radius: 50%;
	margin-top:7%;


}

.cont2 a{
	text-align: center;
	font-size: 60%;
	border: 2px black solid;
	border-radius: 50%;
	color: white;
	background-color: black;
	margin-left: 20%;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;


}
.cont2 a:hover {
	background-color: white;
	color: black;
	text-decoration: underline;
}
.clipart{
	margin-left: -10.5%;
	margin-top:-3.5%;
	width: 58%;
	position: absolute;
 
	
}