
body{
	font-family: 'Quicksand', sans-serif;
	font-size: xx-large;
}
.mySignature {
	width:60%;
	margin-left: 25%;
	margin-top: 10%;
}
cont1{
    position: relative;
}
.clipart{
    position: absolute;
    width: 50%;
    left:16%;
    top:17%;
}
.myPicture{
	position: absolute;
	border-radius: 50%;
    top:230px;
    left:25%;
	width: 29.5%;
}
.cont2 p{
	padding-top: 20%;
	padding-left: 8%;
	font-style: italic;
}
.cont2 a{
   width: 10%;
   background-color: transparent;
}
/* Small only */
@media screen and (min-width: 20em) and (max-width: 39.9375em) {
body{
	padding-right: 15%;
}
.cont1{
    position: relative;
    width: 100%;
}
.myPicture{
	position: absolute;
	border-radius: 50%;
    top:52px;
}
.corner1{
	margin-top: 20px;
}
.corner2{
	margin-top:-5px;
}
.mySignature{
	margin-left: 120px;
}
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
body{
	padding-right: 15%;

}
.cont1{
    position: relative;
    width: 100%;
}
.myPicture{
	position: absolute;
	border-radius: 50%;
    top:65px;
}	
.corner1{
	margin-top: 20px;
}
.corner2{
	margin-top:-5px;
}
}
/* large only */
@media screen and (min-width: 64em) {
body{
	padding-right: 15%;
}
.cont1{
    position: relative;
    width: 100%;
}
.myPicture{
	position: absolute;
	border-radius: 50%;
    top:88px;
}	
.corner1{
	margin-top: 20px;
}
.corner2{
	margin-top:-5px;
}
}
.corner2{
	margin-left: 85%;
	margin-top: -48%;
}
/*----button-----*/

.wrap {
  background-color:#ffffff; 
  p {
	font-family: 'Quicksand', sans-serif;
    text-align:center;
  }
}

input {
 background:url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login.png') no-repeat 5px 5px #484B4F;
  width: 100px;
  cursor:pointer;
  border-radius:50px;
  padding:10px 20px 10px 0;
  color:White;
  font-size:14px;
  text-align:left;
  text-indent:40px;
  display:block;
  margin:0 auto;
 
  /* Animations: */
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: .4s;
  -webkit-transition-property: all;
  
  -moz-transition-timing-function: ease-in-out;
  -moz-transition-duration: .4s;
  -moz-transition-property: all;
}

input:hover {
  background-image: url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login-hover.png');
  background-position: 65px 5px;
  text-indent: 20px;  
  text-decoration: underline;
}

.twat {
  float:right;
  font-family:Helvetica, sans-serif;
}