body{
	font-family: 'Quicksand', sans-serif;
}
.BioPic{
	width: 10%;
}
.fourth{
	text-align: center;
	padding-top: 8%;
	padding-bottom: 10%;
	
}
.BioTex{
	text-transform: lowercase;
	font-size: 2.50em;
	font-weight: 100;
}
.BioTex::first-letter {
  font-size: 3.2em;
  font-style: italic;
}
.home{
	width: 10%;
	padding-top: 40%;
}
