button{
	margin-left: -47%;
	margin-top: 11%;
	background-color: #d6d6d6;
	border: 2px black solid;
    border-radius: 50%;
	color: black;
	position: fixed;
}
button:hover{
	background-color: black;
	color: white;
    text-decoration: underline;
    border: 2px black solid;
    border-radius: 50%;
}
.corner2{
	margin-left: -109%;
	margin-top: 10%;
}
.logo{
	width: 50%;
	margin-top: -40%;
	margin-left: -25%;
}
.introGen{
	font-size: 1.80em;
    padding-top: 20%;
    line-height: 140%;
}
.introCareer{
	font-size: 1.80em;
	padding-top: 20%;
	line-height: 140%;
}
/*custome slide*/
#tech-slideshow {
    height: 200px;
    position: relative;
    overflow: hidden;
}
#tech-slideshow > div {
    height: 600px;
    width: 2526px;
    background: url(http://cl.ly/9BJG/collage.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    
    -moz-transition:  opacity 0.5s ease-out; 
       -o-transition: opacity 0.5s ease-out; 
  -webkit-transition: opacity 0.5s ease-out; 
      -ms-transition: opacity 0.5s ease-out; 

    -webkit-animation: moveSlideshow 60s linear infinite;
    -moz-animation:    moveSlideshow 60s linear infinite;
    
}

@-webkit-keyframes moveSlideshow {
    0% { left: 0; }
    100% { left: -1684px; }
}
@-moz-keyframes moveSlideshow {
    0% { left: 0; }
    100% { left: -1684px; }
}