
h2{
	font-family: 'Quicksand', sans-serif;
}	
.EduPic{
	width: 10%;
}
.sixth{
	text-align: center;
	padding-top: 8%;
	padding-bottom: 10%;

}
.EduTex{
	font-family: 'Quicksand', sans-serif;
	text-align: left;
	text-transform: lowercase;
	font-size: 2.50em;
	font-weight: 100;
}

.home{
    width: 6%;
    margin-bottom: 5%;
    margin-top: 13%
}
.corner2{
    padding-left: 13%;
    padding-top: 5%;
}
.corner1{
	padding-left: 75%;
    margin-top: -15%;
}
